C_driver/bme280_id
C_driver/bme280_demo
Rust_Driver/target
Rust_Driver/Cargo.lock
afl_fuzzing/Rust/target
afl_fuzzing/Rust/Cargo.lock

C_Driver/c_driver
C_driver/bme280_demo
Python_tests/old_logs
Python_tests/charts/Reliability
# Ignore AFL/fuzz output directories like out_temp, out_temp2, out_temp5, etc.
out*/
afl_fuzzing/Fuzzing_results/
Python_tests/charts/reliability